@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: all .2s ease !important;
    font-family: 'Ubuntu Mono', monospace;
}

::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border: 4px solid #0B0C10;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: lightgray;
    /* border-radius: 10px; */
}

body {
    width: 100vw;
    overflow-x: hidden;
    /* background-color: #d3001c; */
    /* background-color: #101338; */
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    background: #0B0C10;
}

.particle {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    background: #0B0C10;
    display: none;
}

.top_section {
    width: 100vw;
    min-height: 100vh;
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* background-color: blue; */
    /* background: linear-gradient(0deg, rgba(255,255,255) 0%, rgb(0, 0, 255) 100%);; */
}

.name {
    width: 100vw;
    min-height: 100vh;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.name h1 {
    font-weight: bolder;
    font-size: 5rem;
    color: #EA0F1E;
}

.name h1 span {
    font-size: 1rem;
}

.name::selection,
.name div::selection,
.name h4::selection,
.name li::selection {
    background-color: white;
    color: #262324;
}

.name h1::selection {
    background-color: #EA0F1E;
    color: #0B0C10;
}

.name h4 {
    font-weight: bold;
    font-size: 2rem;
}

.name div {
    padding: .3rem;
}

.name li {
    list-style: none;
    margin-bottom: .3rem;
}

.name li::before {
    content: "\26A0";
    color: white;
    font-weight: bold;
    display: inline-block;
    width: 1.5em;
    margin-left: 2em;
}

/* .lay_buttons{
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: .3rem;
    border-radius: 5px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
} */

.lay_buttons {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-gap: 10px;
    padding: 1rem;
    user-select: none;
}

.lay_buttons a {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    padding: .5rem 1.5rem;
    width: 250px;
    border-radius: 4px;
    text-align: justify;
    text-decoration: none;
    color: white;
    background: #262324;
    /* box-shadow: 0px 0px 5px 1px #041a4b; */
    transition: all .2s ease !important;
    border: 1px solid transparent;
    border-radius: 2rem;
}

.lay_buttons a:hover {
    background-color: #EA0F1E;
    color: white;
    border: 1px solid #EA0F1E;
    word-spacing: 10px;
}

/* Social Section Editing */
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: transparent;
}

#social {
    width: 100vw;
    min-height: 100vh;
    padding: 3rem;
    background-color: transparent;
    color: white;
}

.social h1 {
    color: #EA0F1E;
    font-size: 4rem;
    font-weight: bolder;
}

.social h1::selection {
    background-color: #EA0F1E;
    color: #0B0C10;
}

.social div::selection {
    background-color: white;
    color: #0B0C10;
}


/* Buttons */
.social_buttons {
    width: fit-content;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 1rem;
    user-select: none;
}

.social_buttons a {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    padding: .5rem 1.5rem;
    width: 250px;
    border-radius: 4px;
    text-align: justify;
    text-decoration: none;
    color: white;
    background: #262324;
    /* box-shadow: 0px 0px 5px 1px #041a4b; */
    transition: all .2s ease !important;
    border: 1px solid transparent;
    border-radius: 2rem;
}

.social_buttons a:hover {
    background-color: #EA0F1E;
    color: white;
    border: 1px solid #EA0F1E;
    word-spacing: 10px;
}


/* Projects */
.projects {
    width: 100vw;
    min-height: 100vh;
    padding: 3rem;
    color: white;
}

.projects div::selection,
.platform::selection,
.projects code::selection {
    color: white;
    background-color: #0B0C10;
}

.projects h1 {
    color: #EA0F1E;
    font-size: 4rem;
    font-weight: bolder;
}

.projects h1::selection {
    background-color: #EA0F1E;
    color: #0B0C10;
}

.project {
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3rem;
}

.project:nth-child(odd) {
    float: right;
}

.project img {
    max-width: 60%;
    border-radius: 8px;
    user-select: none !important;
    border: 1px solid transparent;
}

.project img:hover {
    border-color: white;
}

.project .details {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.project .details .proj_def {
    font-size: .8rem;
}

.project .details .proj_name {
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 1.3rem;
    color: #EA0F1E;
}

.project .proj_name::selection {
    background-color: #EA0F1E;
    color: #0B0C10;
}

.project .details .proj_det {
    background-color: white;
    transform: translate(0%, -10%);
    color: #0B0C10;
    border-radius: 5px;
    padding: 1rem;
    width: 140%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
}

.project .platform {
    padding: .3rem;
}

.project .links {
    padding: .3rem;
    user-select: none;
}

.project .links a {
    cursor: pointer;
    padding: .3rem;
    font-size: .9rem;
    color: gray;
    transition: none !important;
    user-select: none;
    text-decoration: none;
}

.project .links a:hover {
    color: black;
}

.project .language {
    padding: .3rem;
}

.project .language code {
    margin-left: .4rem;
    color: black;
}

.other_proj {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.other_projects {
    width: 70%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.proj_v2 {
    padding: 1rem;
    width: 100%;
    border-radius: 6px;
    background-color: #262324;
    border: 1px solid #262324;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.proj_v2 .top_v2 i {
    font-size: 2rem;
}

.proj_v2:hover .top_v2 i {
    color: #EA0F1E;
}

.proj_v2 .proj_def {
    margin: .4rem 0;
}

.proj_v2 .links {
    padding: .3rem;
    user-select: none;
}

.proj_v2 .language code {
    margin-right: .4rem;
    /* color: lightgray; */
}

.proj_v2 .proj_name {
    font-size: 1.5rem;
    color: #EA0F1E;
    font-weight: bolder;
}

.proj_v2 .proj_name::selection {
    background-color: #EA0F1E;
    color: #262324;
}

.proj_v2 .buttons {
    display: grid;
    grid-template-columns: auto auto;
    user-select: none;
    width: 100%;
    margin-top: .4rem;
}

.proj_v2 .buttons a {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    padding: .5rem 1.5rem;
    font-size: .8rem;
    border-radius: 4px;
    text-align: justify;
    text-decoration: none;
    color: white;
    background: #262324;
    /* box-shadow: 0px 0px 5px 1px #041a4b; */
    transition: all .2s ease !important;
    border: 1px solid transparent;
    border-radius: 2rem;
}

.proj_v2 .buttons a:hover {
    background-color: #EA0F1E;
    color: white;
    border: 1px solid #EA0F1E;
    word-spacing: 10px;
}

@media screen and (max-width: 650px) {
    .social_buttons {
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 1300px) {

    .other_projects {
        grid-template-columns: auto auto;
    }

    .projects {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: fit-content;
    }

    .project {
        width: 100%;
    }

    .project:nth-child(even) {
        float: none;
    }

    .name {
        width: 100%;
    }


    #social {
        width: 100%;
    }

    .name h1 {
        font-size: 3rem;
    }

    .name h4 {
        font-size: 1.5rem;
    }

    .top_section .buttons {
        padding: 3rem 1rem;
    }

    .side_buttons {
        display: none;
    }

    .lay_buttons {
        display: flex;
    }

}

@media screen and (max-width: 800px) {
    body {
        font-size: .9rem;
    }
    .project .details .proj_det {
        transform: none;
        width: 75%;
        height: auto;
    }

    .projects h1, .social h1{
        font-size: 3rem;
    }

    .project .content, .project .language, .project .platform{
        display: none;
    }

    .project .details {
        width: 100%;
        flex-direction: column-reverse;
        transform: translate(10px, -50px);
    }

    .project .proj_det {
        padding: .2rem;
    }

    .project .proj_name {
        margin: 0 !important;
    }

    .project {
        flex-direction: column;
        width: 100%;
    }

    .project img {
        max-width: 100%;
        margin-bottom: .5rem;
    }

    .other_projects {
        width: 100% !important;
        grid-template-columns: auto;
    }
}