@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: all .2s ease !important;
    font-family: 'Ubuntu Mono', monospace;
    font-size: .9vw;

}

::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #262324;
    border: 3px solid white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black;
    /* border-radius: 10px; */
}

body {
    width: 100vw;
    overflow-x: hidden;
    /* background-color: #d3001c; */
    /* background-color: #101338; */
    position: relative;
    overflow: hidden;
    overflow-y: auto;
}

.top_section {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    /* background-color: blue; */
    /* background: linear-gradient(0deg, rgba(255,255,255) 0%, rgb(0, 0, 255) 100%);; */
}

.name {
    padding: 1rem 3rem;
    color: #262324;
}

.name h1 {
    color: #262324;
    font-weight: bolder;
    font-size: 5vw;
}

.name h1 span{
    font-size: 5vw;
}

.name::selection, .name div::selection, .name h4::selection , .name li::selection {
    background-color: #262324;
    color: white;
}

.name h1::selection{
    background-color: #1D1CE5;
    color: white;
}

.name h4 {
    font-weight: bold;
    font-size: 1.5vw;
}

/* Buttons */
.buttons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 3rem;
    user-select: none !important;
}

.buttons a {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    margin: .4rem 0;
    padding: .5rem;
    padding-left: 1rem;
    width: 10vw;
    border-radius: 2rem;
    text-align: justify;
    text-decoration: none;
    /* box-shadow: 0px 0px 5px 1px #c3c3c3; */
    border: 1px solid #262324;
    color: #262324;
}

.buttons a:hover {
    color: white;
    background: #262324;
    word-spacing: 10px;
}

/* Social Section Editing */
#social {
    width: 100vw;
    min-height: 100vh;
    padding: 3rem;
}

.social h1 {
    color: #262324;
    font-size: 4rem;
    font-weight: bolder;
}

.social h1::selection {
    background-color: #262324;
    color: white;
}

.social div::selection {
    background-color: #262324;
    color: white;
}


/* Buttons */
.social_buttons {
    width: fit-content;
    display: grid;
    grid-template-columns: auto;
    grid-gap: .3vw;
    padding: 1rem;
    user-select: none;
}

.social_buttons a {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    padding: .5rem 1.5rem;
    width: 15vw;
    border-radius: 4px;
    text-align: justify;
    text-decoration: none;
    color: white;
    background: #262324;
    /* box-shadow: 0px 0px 5px 1px #041a4b; */
    transition: all .2s ease !important;
    border: 1px solid transparent;
    border-radius: 2rem;
}

.social_buttons a:hover {
    background-color: white;
    color: #262324;
    border: 1px solid #262324;
    word-spacing: 10px;
}


/* Projects */
.projects {
    width: 100vw;
    min-height: fit-content;
    padding: 3rem;
    background-color: white;
    color: #262324;
}

.projects div::selection, .platform::selection , .projects code::selection{
    background-color: #262324;
    color: white;
}

.projects div::selection, .platform::selection , .projects code::selection{
    background-color: #262324;
    color: white;
}

.projects h1 {
    color: #262324;
    font-size: 4rem;
    font-weight: bolder;
}

.projects h1::selection{
    background-color: #262324;
    color: white;
}

.project {
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3rem;
}

.project:nth-child(even) {
    float: right;
}

.project img {
    max-width: 60%;
    border-radius: 8px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    user-select: none !important;
    box-shadow: 0 0 20px gray;
}

.project img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}

.project .details {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.project .details .proj_def {
    font-size: .8rem;
}

.project .details .proj_name {
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 1.3rem;
}

.project .details .proj_det {
    background-color: #262324;
    transform: translate(0%, -10%);
    color: white;
    border-radius: 5px;
    padding: .8rem;
    width: 140%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
}

.project .platform {
    padding: .3rem;
}

.project .links {
    padding: .3rem;
    user-select: none;
}

.project .links a {
    cursor: pointer;
    padding: .3rem;
    font-size: .9rem;
    color: gray;
    transition: none !important;
    user-select: none;
}

.project .links a:hover{
    color: white;
}

.project .language {
    padding: .3rem;
}

.project .language code {
    margin-left: .4rem;
    color: lightgray;
}

.projects .button {
    border: none;
    outline: none;
    padding: .5rem 1rem;
    border-radius: 3px;
    color: white;
    background-color: #262626;
    text-decoration: none;
    user-select: none !important;
}

.projects .button:hover {
    box-shadow: 0 0 5px 1px #090307;
    background: white;
    color: #262324
}

.side_buttons{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: .3rem;
    padding-bottom: 0;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    display: none;
    z-index: 100000 !important;
}

.side_buttons a {
    padding: .4rem .6rem;
    margin-bottom: .3rem;
    cursor: pointer !important;
    transition: none !important;
    border-radius: 2rem;
    background-color: black;
    color: white;
}

.side_buttons a:hover{
    color: black;
    background: white;
}

@media screen and (max-width: 650px) {
    .social_buttons {
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 1300px) {
    .projects {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .project {
        width: 100%;
    }

    .project:nth-child(even) {
        float: none;
    }

}

@media screen and (max-width: 800px) {
    .project .details .proj_det {
        transform: none;
        width: auto;
    }

    .project {
        flex-direction: column;
    }

    .project img {
        max-width: 100%;
        margin-bottom: .5rem;
    }
}